@model UserRoleVM

@{
    var isCompanyUser = Model.User.CompanyId == null ? "display: none" : "";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Manage User</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="POST" class="row" enctype="multipart/form-data">
            <input asp-for="@Model.User.Id" hidden />
            <div class="border p-3">
                <div class="form-floating py-2 col-12">
                    <input asp-for="User.Name" class="form-control border-0 shadow" />
                    <label asp-for="User.Name" class="ms-2"></label>
                    <span asp-validation-for="User.Name" class="text-danger p-0"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="RoleId" asp-items="@Model.RoleList" class="form-select border-0 shadow">
                        <option disabled selected>--Select Role--</option>
                    </select>
                    <label asp-for="@Model.User.Role" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <select asp-for="User.CompanyId" asp-items="@Model.CompanyList" class="form-select border-0 shadow" style="@isCompanyUser">
                        <option disabled selected>--Select Company--</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#RoleId').change(function () { 
                console.log("Change event");
                let roleSelected = $('#RoleId Option:Selected').text();
                
                if (roleSelected == 'Company') {
                    console.log("Show");
                    $('#User_CompanyId').show();
                } else {
                    console.log("Hide");
                    $('#User_CompanyId').hide();
                }
            });

        });
    </script>
}